<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit book</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/books/{id}(id=${book.getId()})}" th:object="${book}">
    <label for="tittle">Enter tittle</label>
    <input type="text" th:field="*{tittle}" id="tittle"/>
    <div style="color:red" th:if="${#fields.hasErrors('tittle')}" th:errors="*{tittle}">Name Error</div>
    <br/>
    <br/>
    <label for="author">Enter author </label>
    <input type="text" th:field="*{author}" id="author"/>
    <div style="color:red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Name Error</div>
    <br/>
    <label for="year">Enter year of production </label>
    <input type="text" th:field="*{yearOfProduction}" id="year"/>
    <div style="color:red" th:if="${#fields.hasErrors('yearOfProduction')}" th:errors="*{yearOfProduction}">Name Error</div>
    <br/>
    <input type="submit" value="Edit!"/>

</form>
</body>
</html>